body {
    font-family: Arial, sans-serif;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.text-danger {
    color: red;
}
